.container{
	width: 100%;
	display: flex;
	border: 2px solid;
	margin-bottom: 30px;
	border-radius: 20px;
}

section{
	margin: 1%;
}

img{
	width: 300px;
	height: 200px;
	border-radius: 10px;
	display: block;
	margin-bottom: 10px;
}

#content{
	display: flex;
	flex-direction: column;
}